<%- include("./layout/header") %>
<h1>About</h1>
<p>This website is part of the Full Stack JavaScript course on <a href="https://www.theodinproject.com/">The Odin Project</a>.</p>
<p>It functions as a message board, allowing visitors who haven't signed in to view posts but not the authors' details.</p>
<p>To view the authors, visitors can sign up as Users.</p>
<p>Users can join the members clun and upgrade to Member status.</p>
<p>For deleting messages, a member should upgrade to the Admin status.</p>
<%- include("./layout/footer") %>