<% if (messages.success) { %>
    <div class="alert alert-success" role="alert">
      <%= messages.success %>
    </div>
<% } %>
<h1><%= title %></h1>
<% if (typeof currentUser !== 'undefined') { %>
    <a href="/users/<%= currentUser.id %>/posts/create">Create a new post</a>
<% } %>