<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only | <%= title %></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </ul>
      <ul>
        <% if (loggedIn) { %>
          <a href="/logout">Log out</a>
        <% } else { %>
          <a href="/login">Log in</a>
          <a href="/signup">Sign up</a>
        <% } %>
      </ul>
    </nav>
  </header>
  <main>
