<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only | <%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/0391af2bfc.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul>
        <% if (loggedIn) { %>
          <li><a href="/logout">Log out</a></li>
          <% if (isUser) { %>
            <li><a href="/member">Become Member</a></li>
          <% } else if (isMember) { %>
            <li><a href="/admin">Become Admin</a></li>
          <% } %>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <main>
