<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only | <%= title %></title>
</head>
<body>
  <header>
  <% if (typeof currentUser !== 'undefined') { %>
    <p>Welcome, <%= currentUser.first_name %>!</p>
    <a href="/logout">Log out</a>
  <% } else { %>
    <a href="/login">Log in</a>
  <% } %>
  </header>
  <main>